In [2]:
import pandas as pd
import numpy as np

import os

In [52]:
def load_data(data_dir):
    """Loads all data as a dictionary"""
    data_files = os.listdir(data_dir)
    data_dict = {}
    for file in data_files:
        file_name = file.split('.')[0]
        data_dict[file_name] = pd.read_csv('data/' + file)
        
    return data_dict
    
data = load_data('data')

In [53]:
data.keys()

dict_keys(['items', 'shops', 'item_categories', 'sales_train', 'test', 'sample_submission'])

At this moment I won't be needing 'test' and 'sample_submission'

In [54]:
try:
    del data['test']
    del data['sample_submission']
except KeyError:
    pass

#### Basic overview of data

In [58]:
for key,value in data.items():
    print(f'{key}: \n')
    print(f"Null: \n {value.isnull().sum()} \n")
    value.info()
    print(f"\n Describe: \n {value.describe()}")
    
    
    end_line = '_' * 100
    print(end_line)

items:

Null:
 item_name           0
item_id             0
item_category_id    0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         22170 non-null  object
 1   item_id           22170 non-null  int64
 2   item_category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

 Describe:
            item_id  item_category_id
count  22170.00000      22170.000000
mean   11084.50000         46.290753
std     6400.07207         15.941486
min        0.00000          0.000000
25%     5542.25000         37.000000
50%    11084.50000         40.000000
75%    16626.75000         58.000000
max    22169.00000         83.000000
____________________________________________________________________________________________________
shops:

Null:
 shop_name    0
shop_id      0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shop_name  60 non-null     object
 1   shop_id    60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

 Describe:
          shop_id
count  60.000000
mean   29.500000
std    17.464249
min     0.000000
25%    14.750000
50%    29.500000
75%    44.250000
max    59.000000
____________________________________________________________________________________________________
item_categories:

Null:
 item_category_name    0
item_category_id      0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_category_name  84 non-null     object
 1   item_category_id    84 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

 Describe:
        item_category_id
count         84.000000
mean          41.500000
std           24.392622
min            0.000000
25%           20.750000
50%           41.500000
75%           62.250000
max           83.000000
____________________________________________________________________________________________________
sales_train:

Null:
 date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

 Describe:
        date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03
____________________________________________________________________________________________________

In [61]:
data.keys()

dict_keys(['items', 'shops', 'item_categories', 'sales_train'])

### Data relationships:

items.csv:  
- Unique values [item_name], [item_id -> sales_train.csv]
- [item_category_id -> item_categories.csv]

shops.csv:
- Unique values [shop_name], [shop_id -> sales_train.csv]

item_categories.csv:
- Unique values [item_category_name], [item_category_id]

sales_train.csv:
- In situ data
- Time data as [date]
-

In [67]:
sales = data['sales_train']
items = data['items']

items[items.item_id == 22154]

               item_name  item_id  item_category_id
22154  ЯВЛЕНИЕ 2012 (BD)    22154                37